[webservers]
%{ for i in webservers }
%{if vm_nat == true}
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i["fqdn"]}
%{else}
${i["name"]}   ansible_host=${i["network_interface"][0]["ip_address"]} fqdn=${i["fqdn"]}
%{endif}
%{endfor}

[databases]
%{ for i in databases }
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i["fqdn"]}
%{endfor}

[storages]
%{ for i in storages }
${i["name"]} ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i["fqdn"]}
%{ endfor ~}

[bastionhost]
%{for i in bastionhost }
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}

[all:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -p 22 -W %h:%p -q lesnykh@${i["network_interface"][0]["nat_ip_address"]}"'
%{endfor}